  
<md-content class="home-content"  ng-cloak>
    <div class="hero">
      <div class="hero-img-container ">
        <img class="hero-img " src="../../assets/images/santa.png" alt="Image of Santa"> 
      </div>
      <div class="clip-path-shadow">
        <div class="triangle"></div>
      </div>
      <!-- <img class="hero-triangle-background" src="/app/assets/Green_equilateral_triangle_point_up.png" alt="Image of Santa"> -->
      <h1 class="hero-heading">Secret Santa</h1>
      <p class="days-till-christmas">{{ daysToChristmas }} days to Christmas</p>
    </div>
    <div layout="column" layout-align="center center">
        <md-nav-bar
            md-no-ink-bar="disableInkBar"
            md-selected-nav-item="currentNavItem"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="gotoTab('newList')" name="newList">
                Create List
            </md-nav-item>
            <md-nav-item md-nav-click="gotoTab('oldLists')" name="oldLists">
                Saved Lists
            </md-nav-item>
        </md-nav-bar>
    </div>
    <div layout="column" layout-align="top center" class="create-container" flex >
       
        <div ng-show="isNewList" layout="column" layout-align="top center" class="newList slide2">
            <!-- <h2 class="md-display-1 tabs-heading">New List {{ listForm.listName }}</h2> -->
            <p class="md-body-1">
                <form name="myForm" class="newlist-form" layout="column" layout-align="top center"  autocomplete="off">
                    <!-- <h4>List name</h4> -->
                    <md-input-container class="md-primary add-names" flex-gt-sm>
                        <label>Enter list name</label>
                        <input type="text" minlength="4" maxlength="25" name="list" required ng-model="listForm.listName">
                        <div ng-messages="myForm.list.$error">
                        <div ng-message="required">Name is required.</div>
                        <div ng-message="minlength">Name too short</div>
                        <div ng-message="maxlength">Name too long</div>
                    </div>
                    </md-input-container>
                    <!-- <h2 class="add-people">Add people</h2> -->
                    <div>
                        <md-input-container class="md-inline md-primary add-names" flex-gt-sm>
                            <label>Add person name</label>
                            <input type="text" minlength="3" maxlength="25" required  name="name" ng-model="listForm.personName">
            
                            <div ng-messages="myForm.name.$error">
                                <div ng-message="required">Name is required.</div>
                                <div ng-message="minlength">Name too short</div>
                                <div ng-message="maxlength">Name too long</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-inline md-primary add-names" flex-gt-sm>
                            <label>Add person email</label>
                            <input type="email" minlength="8" maxlength="50" name="email" required ng-pattern="/^.+@.+\..+$/" ng-model="listForm.personEmail" ng-enter="vm.addPeople()">
                            <div ng-messages="myForm.email.$error">
                                <div ng-message="required">Email is required.</div>
                                <div ng-message="email">Valid email required.</div>
                            </div>
                        </md-input-container>
                    </div>
                </form>
                <div class="button-overlay-container">
                    <md-button ng-disabled="!enableAdd" ng-click="vm.addPeople()" class="md-raised md-accent md-hue-2 add-btn">Add</md-button>
                    <div ng-show="!enableAdd" class="overlay" ng-click="vm.disabledAddButtonClick()"></div>
                </div>
                <div class="secret-santas my-element" ng-show="people.length > 0">
                    <h3>People on {{ listForm.listName }}</h3>
                    <div ng-repeat="person in people track by $index" class="names-list my-element" id="person_{{$index}}" ng-click="vm.editPerson($event, person, $index)">
                        
                        <div class="list-name">
                            <h3>
                                {{$index + 1}}. {{ person.name }}
                            </h3> 
                            <p>{{person.email}}</p>
                        </div>
                        <div class="icon-close-container">
                            <md-icon class="icon-close"  ng-click="vm.removeName($index)" >highlight_off</md-icon>
                        </div>
                        
                    </div>
                </div>
                <div class="button-overlay-container">
                    <md-button ng-show="people.length > 0" ng-disabled="people.length == 1" ng-click="vm.matchSantas($event)" class="md-raised md-warn match-btn">Match Santas</md-button>
                    <div ng-show="people.length == 1" class="overlay" ng-click="vm.disabledMatchButtonClick()"></div>
                </div>
                <div>
                    <md-button class="md-raised md-accent clear-btn" ng-click="vm.clearList()">Clear list</md-button>
                </div>
            
            </p>
        </div>
        <div ng-show="isNewList === false" layout="column" layout-align="top center" class="newList slide2">
            <div class="lists-container">
                <md-content>
                    <md-list>
                        <md-list-item ng-repeat="list in lists">
                            <md-button ng-click="vm.getList(list, $event)"> 
                                <span layout="row" layout-align="center center">{{ list.title }}</span> </md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>
        
    </div>
    
    <!-- <ms-user-details selected="$ctrl.selected"></ms-user-details> -->
    
</md-content>
  <div ng-if="isLoading" class="loader-wrapper">
    <div class="loader"></div>
  </div>
        
    