<md-content layout="column" layout-align="center center"  class="view-container" ng-cloak>
    <div>
        <md-card class="md-raised login-card">
            <md-card-title>
                <md-card-title-text>
                <span class="md-headline">Reset Password</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content class="login-card-content">
        
                <form name="myForm"  autocomplete="off" ng-cloak>
                    <md-input-container class="md-block md-primary" flex-gt-sm>
                        <label>New Password</label>
                        <input type="{{ passwordType }}" minlength="6" maxlength="50" name="userPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$#^!%*?&])[A-Za-z\d@$#^!%*?&]{6,}$" required ng-model="password">
                        <md-icon class="cursor-pointer" ng-click="viewPassword()" >{{ passwordVisible }}</md-icon>
                        <div ng-messages="myForm.userPassword.$error">
                            <div ng-message="required">Password is required.</div>
                            <div ng-message="minlength">Password requires at least 6 characters.</div>
                            <div ng-message="pattern">Password requires Aa, num, (!@#$%^&*).</div>
                        </div>
                        </md-input-container>
                    <md-input-container class="md-block md-primary" flex-gt-sm>
                        <label>Confirm New Password</label>
                        <input type="{{ passwordType }}" name="userConfirmPassword" minlength="6" maxlength="50" required ng-model="confirmPassword" password-match="password" ng-enter="passwordReset()">
                        <div ng-messages="myForm.userConfirmPassword.$error">
                            <div ng-message="required">Password is required.</div>
                            <div ng-message="passwordMatch">Passwords don't match</div>
                        </div>
                    </md-input-container>
                </form>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
                <div class="button-overlay-container">
                    <md-button class="md-primary md-raised submit-btn" ng-disabled="!isPasswordValid" ng-click="passwordReset()">Submit</md-button>
                    <div ng-show="!isPasswordValid" class="overlay" ng-click="vm.disabledSubmitButtonClick()"></div>
                </div>
            </md-card-actions>
        </md-card>
    </div>
</md-content>